body {
    margin: 0px;
     padding: 0px;
     font-family: Cambria,Cochin, Georgia, Times, 'Times New Roman', serif,Arial,'Raleway', sans-serif;
     background-color: #ffffff;   
     color: #333;
 }
  

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #051937;
    background-repeat: no-repeat;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.sticky-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-bottom: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px;
}

/* Additional styles for better user experience (optional) */
.dropdown a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Arial, 'Raleway', sans-serif;
}

.dropdown a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

/* Styling for the dropdown icon */
.dropdown-icon {
    color: #F7B318;
    font-size: 14px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Arial, 'Raleway', sans-serif;
}

/* Add this CSS for responsive navigation */
#menu-toggle, #close-btn {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #menu-toggle {
        display: block;
        text-align: right;
        padding: 10px;
        background-color: #333;
        color: white;
    }

    #close-btn {
        display: block;
        text-align: right;
        padding: 10px;
        background-color: #333;
        color: white;
    }

    .sticky-header nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #333;
        width: 0;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .sticky-header nav ul {
        flex-direction: column;
    }

    .sticky-header nav li {
        margin: 10px 0;
    }

    .sticky-header nav a {
        color: white;
        text-decoration: none;
    }

    .sticky-header body.menu-open nav {
        width: 80%; /* Adjust the width as needed */
    }
}
